---
layout: page
title: Category
description: "An archive of posts sorted by tag."
---

<header class="site-category">
    <ul>
      
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.layout == "category" %}
          <a class="category-link {% if page.url == node.url %} active{% endif %}"
          href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% assign category = node.title %}
          {% for post in site.categories[category] %}
            <li>
              <h3>
                <a href="{{ site.baseurl }}{{ post.url }}">
                  {{ post.title }}
                </a>
                <small>{{ post.date | date_to_string }}</small>
              </h3>
            </li>
          {% endfor %}
        {% endif %}
      {% endfor %}
      
    </ul>
</header>