---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>

{% assign pages_list = site.pages | sort:"url" %}
{% for node in pages_list %}
  {% if node.title != null %}
    {% if node.title == "Category" %}
      <ul class="posts-list">
    
        {% assign category = page.category | default: page.title %}
        {% for post in site.categories[category] %}
          <li>
            <h3>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
              </a>
              <small>{{ post.date | date_to_string }}</small>
            </h3>
          </li>
        {% endfor %}

        <!--<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>    -->
      </ul>
    {% endif %}
  {% endif %}
{% endfor %}